@media (max-width: 990px) {
    .service {
        height: 320px !important;
    }

    .profile {
        min-height: 650px !important;
    }
}

@media (max-width: 770px) {
    .content {
        min-height: 1px;
    }

    #valueProposal h1 {
        text-align: center;
    }

    #valueProposal h2 {
        font-size: 22px;
        text-align: center;
    }

    .service {
        height: 310px;
    }

}

@media (max-width: 720px) {
    .profile {
        min-height: 10px !important;
    }
}

@media (max-width: 540px) {
    #landingTitle h1 {
        font-size: 40px;
    }
}