#home {
    background: black;
}

.black {
    height: 50px;
    width: 50px;
    background: url(../img/logo/logo_head_black.png) no-repeat center;
    background-size: contain;
}

.white {
    height: 50px;
    width: 50px;
    background: url(../img/logo/logo_head_white.png) no-repeat center;
    background-size: contain;
}

#landingTitle img {
    padding-top: 50px;
    height: 420px;
    margin: auto;
}

#experience {
    background: black;
    color: white;
}

#services {
    background: white;
    color: black;
}

#contact {
    background: black;
    color: white;
}

#topMenu.whiteB {
    background: white;
    color: black !important;
}

#topMenu.blackB {
    background: rgba(0, 0, 0, 1) !important;
}

#topMenu.blackB .nav a {
    color: white !important;
}

#topMenu.whiteB .nav a {
    color: black !important;
}

.content {
    min-height: 650px;
    padding: 10px 0px;
}

.bgnSpace {
    height: 52px;
}

#landingTitle {
    text-align: center;
}

#valueProposal h1 {
    padding-top: 100px;
    color: white;
    transition: all 1s ease;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

#valueProposal h2 {
    color: white;
    font-size: 1.5em;

}

.navbar {
    border: none;
    transition: all 0.5s ease;
}

#navbar {
    min-height: 50px !important;
    overflow: hidden !important;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                           not supported by any browser */
}

.service img {
    display: block;
    margin: auto;
}

.service h1 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.service {
    height: 400px;
}

#app * {
    transition: all 0.5s ease;
}

#experience .main h1 {
    text-align: center;
}

#experience .main {
    margin-bottom: 50px;
}

/*Profile experience*/
ul.list,
ul.list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

ul.list ul {
    position: relative;
    margin-left: 10px;
}

ul.list ul:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;

    border-left: 1px solid black;
}

ul.list li {
    position: relative;
    margin: 0;
    padding: 3px 12px;

    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

ul.list li span {
    cursor: default;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

ul.list ul li:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 8px;
    height: 0;

    border-top: 1px solid black;
}

ul.list ul li:last-child:before {
    top: 10px;
    bottom: 0;
    height: auto;
    background: white;
}

.profile {
    margin-bottom: 50px;
    min-height: 450px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: white;
    padding: 5px 20px;
    color: black;
}

.profile h1 {
    text-align: center;
}

.profile img {
    display: block;
    margin: auto;
}

.socialLink {
    cursor: pointer;
    font-size: 25px;
}

.social h5 {
    float: left;
    padding-right: 20px;
}

#contactForm textarea {
    resize: none;
    min-height: 200px;
}

/*loading*/

.wrapper {
    width: 150px;
    height: 170px;
    position: relative;
    margin: auto;
    margin-top: 15%;
}

.wrapper .loading {
    width: 5px;
    height: 5px;
    background: #018288;
    position: absolute;
    top: 70px;
    left: 70px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
}

.wrapper .loading.p1 {
    -webkit-animation: anim-p1 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper .loading.p2 {
    -webkit-animation: anim-p2 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper .loading.p3 {
    -webkit-animation: anim-p3 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper .loading.p4 {
    -webkit-animation: anim-p4 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper .loading.p5 {
    -webkit-animation: anim-p5 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper .loading.p6 {
    -webkit-animation: anim-p6 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper .loading.p7 {
    -webkit-animation: anim-p7 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper .loading.p8 {
    -webkit-animation: anim-p8 2s cubic-bezier(0.25, 0.53, 0.69, 0.45) infinite;
}

.wrapper span {
    position: absolute;
    font-family: Roboto;
    font-weight: 300;
    color: #2c3e50;
    bottom: 0;
    left: 36px;
}

@-webkit-keyframes anim-p1 {
    0% {
        -moz-transform: rotate(0deg) scale(1) translateX(20px);
        -ms-transform: rotate(0deg) scale(1) translateX(20px);
        -webkit-transform: rotate(0deg) scale(1) translateX(20px);
        transform: rotate(0deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(180deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(180deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(180deg) scale(1.3) translateX(30px);
        transform: rotate(180deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(360deg) scale(1) translateX(20px);
        -ms-transform: rotate(360deg) scale(1) translateX(20px);
        -webkit-transform: rotate(360deg) scale(1) translateX(20px);
        transform: rotate(360deg) scale(1) translateX(20px);
    }
}

@-webkit-keyframes anim-p2 {
    0% {
        -moz-transform: rotate(90deg) scale(1) translateX(20px);
        -ms-transform: rotate(90deg) scale(1) translateX(20px);
        -webkit-transform: rotate(90deg) scale(1) translateX(20px);
        transform: rotate(90deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(270deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(270deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(270deg) scale(1.3) translateX(30px);
        transform: rotate(270deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(450deg) scale(1) translateX(20px);
        -ms-transform: rotate(450deg) scale(1) translateX(20px);
        -webkit-transform: rotate(450deg) scale(1) translateX(20px);
        transform: rotate(450deg) scale(1) translateX(20px);
    }
}

@-webkit-keyframes anim-p3 {
    0% {
        -moz-transform: rotate(270deg) scale(1) translateX(20px);
        -ms-transform: rotate(270deg) scale(1) translateX(20px);
        -webkit-transform: rotate(270deg) scale(1) translateX(20px);
        transform: rotate(270deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(450deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(450deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(450deg) scale(1.3) translateX(30px);
        transform: rotate(450deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(630deg) scale(1) translateX(20px);
        -ms-transform: rotate(630deg) scale(1) translateX(20px);
        -webkit-transform: rotate(630deg) scale(1) translateX(20px);
        transform: rotate(630deg) scale(1) translateX(20px);
    }
}

@-webkit-keyframes anim-p4 {
    0% {
        -moz-transform: rotate(180deg) scale(1) translateX(20px);
        -ms-transform: rotate(180deg) scale(1) translateX(20px);
        -webkit-transform: rotate(180deg) scale(1) translateX(20px);
        transform: rotate(180deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(360deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(360deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(360deg) scale(1.3) translateX(30px);
        transform: rotate(360deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(540deg) scale(1) translateX(20px);
        -ms-transform: rotate(540deg) scale(1) translateX(20px);
        -webkit-transform: rotate(540deg) scale(1) translateX(20px);
        transform: rotate(540deg) scale(1) translateX(20px);
    }
}

@-webkit-keyframes anim-p5 {
    0% {
        -moz-transform: rotate(45deg) scale(1) translateX(20px);
        -ms-transform: rotate(45deg) scale(1) translateX(20px);
        -webkit-transform: rotate(45deg) scale(1) translateX(20px);
        transform: rotate(45deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(225deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(225deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(225deg) scale(1.3) translateX(30px);
        transform: rotate(225deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(405deg) scale(1) translateX(20px);
        -ms-transform: rotate(405deg) scale(1) translateX(20px);
        -webkit-transform: rotate(405deg) scale(1) translateX(20px);
        transform: rotate(405deg) scale(1) translateX(20px);
    }
}

@-webkit-keyframes anim-p6 {
    0% {
        -moz-transform: rotate(135deg) scale(1) translateX(20px);
        -ms-transform: rotate(135deg) scale(1) translateX(20px);
        -webkit-transform: rotate(135deg) scale(1) translateX(20px);
        transform: rotate(135deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(315deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(315deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(315deg) scale(1.3) translateX(30px);
        transform: rotate(315deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(495deg) scale(1) translateX(20px);
        -ms-transform: rotate(495deg) scale(1) translateX(20px);
        -webkit-transform: rotate(495deg) scale(1) translateX(20px);
        transform: rotate(495deg) scale(1) translateX(20px);
    }
}

@-webkit-keyframes anim-p7 {
    0% {
        -moz-transform: rotate(225deg) scale(1) translateX(20px);
        -ms-transform: rotate(225deg) scale(1) translateX(20px);
        -webkit-transform: rotate(225deg) scale(1) translateX(20px);
        transform: rotate(225deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(405deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(405deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(405deg) scale(1.3) translateX(30px);
        transform: rotate(405deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(585deg) scale(1) translateX(20px);
        -ms-transform: rotate(585deg) scale(1) translateX(20px);
        -webkit-transform: rotate(585deg) scale(1) translateX(20px);
        transform: rotate(585deg) scale(1) translateX(20px);
    }
}

@-webkit-keyframes anim-p8 {
    0% {
        -moz-transform: rotate(315deg) scale(1) translateX(20px);
        -ms-transform: rotate(315deg) scale(1) translateX(20px);
        -webkit-transform: rotate(315deg) scale(1) translateX(20px);
        transform: rotate(315deg) scale(1) translateX(20px);
    }
    50% {
        -moz-transform: rotate(495deg) scale(1.3) translateX(30px);
        -ms-transform: rotate(495deg) scale(1.3) translateX(30px);
        -webkit-transform: rotate(495deg) scale(1.3) translateX(30px);
        transform: rotate(495deg) scale(1.3) translateX(30px);
    }
    100% {
        -moz-transform: rotate(675deg) scale(1) translateX(20px);
        -ms-transform: rotate(675deg) scale(1) translateX(20px);
        -webkit-transform: rotate(675deg) scale(1) translateX(20px);
        transform: rotate(675deg) scale(1) translateX(20px);
    }
}

#loading {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
}

#popMessage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 20%;
}